{
    "singleQuote": true,
    "tabWidth": 4,
    "semi": false,
    "svelteStrictMode": true,
    "svelteBracketNewLine": false,
    "svelteAllowShorthand": false,
    "svelteIndentScriptAndStyle": false
}
