@import '@fontsource/fira-mono';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');

$color-sky: #00ffff;
$color-dark: #111a1a;

:root {
    --font-body: 'Pretendard Variable', Pretendard, -apple-system,
        BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
        'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    --font-mono: 'Fira Mono', monospace;
    font-family: var(--font-body);
    color: var(--color-text);
    font-size: 18px;
}

* :not(.md *) {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    color: $color-sky;
    background-attachment: fixed;
    background-color: $color-dark;
    background-size: 100vw 100vh;
}

a {
    color: var(--color-theme-1);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.md {
    * {
        list-style: revert;
        margin: revert;
        padding: revert;
        font-size: revert;
    }
    p {
        line-height: 22pt;
        word-spacing: 0.08rem;
        letter-spacing: 0.05rem;
    }
}
