@import "./def.scss";

section {
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  &.s0 {
    @include custom-flex(center, center);
    background-position: top;
    background-repeat: no-repeat;
    .sticky-elem {
      neulhan {
        font-size: 120px;
        width: 800px;
        font-weight: 900;
        text-align: center;
      }
      .sub {
        font-size: 36px;
        font-weight: 100;
        margin-top: 1rem;
        text-align: center;
      }
    }
  }
  &.s1 {
    @include custom-flex(flex-start, center, column);
    opacity: 0;
    transition: opacity 0.5s;
    .gallery-wrapper {
      height: 100vh;
      @include custom-flex(center, center, column);
      .img {
        width: 600px;
        height: 400px;
        background-size: cover;
        background-position: center;
      }
      .text {
        width: 600px;
        font-weight: 100;
        margin-top: 1rem;
        font-size: 18px;
      }
    }
  }
  &.s2 {
    background-color: #888888;
    @include custom-flex(center, center);
    .text {
      font-size: 120px;
      font-weight: 900;
      color: white;
      width: 600px;
    }
  }

  .sticky-elem {
    position: fixed;
    top: 300px;
    opacity: 0;
    height: 0;
    color: #292931;
    transition: opacity 0.5s, color 0.5s;
  }
}

.page0 > .s0 > .sticky-elem {
  opacity: 1;
  height: auto;
}
.page1 > .s1 {
  opacity: 1;
}
